$font-stack: 'SF', sans-serif;
$font-title: 'HACKED', cursive;
$primary-color: #000;
$secondary-color: #8fe0f1;
$third-color: #fff;

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .icon {
        color: $secondary-color;
    }
}