$font-stack: 'SF', sans-serif;
$font-title: 'HACKED', cursive;
$primary-color: #000;
$secondary-color: #8fe0f1;
$third-color: #fff;

.App {
  text-align: center;
  background-color: $primary-color;
  font-family: $font-stack;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.name {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-transform: uppercase;
  z-index: 1;
  
  h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 5rem;
    color: $secondary-color;
    font-family: $font-title;
  }

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    color: $third-color;
    font-family: $font-stack;
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: $secondary-color;
    font-weight: 600;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
}

.cards * {
  box-sizing: border-box;
}

.card {
  width: 17em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 
    rgba(100,100,111,0.2)
    0px 7px 29px 0px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  margin: 2em;
}

.card img {
  width: 16em;
  position: absolute;
  top: 6em;
  right: -4em;
  filter: drop-shadow(
    0px 10px 25px rgba
  );
}

.content {
  padding: 1em;
}

.card h2 {
  color: #fff;
  margin: 0 0 0 0.8em;
}

.banner {
  height: 15em;
  background: linear-gradient(
    90deg,
    #fb3854 0%,
    #901026 100%
  );
  padding-top: 3em;
  border-radius: 10px 10px 50% 50%;
}

