@font-face {
  font-family: 'SF';
  src: local('SF'), url('./fonts/SF.ttf') format('truetype');
}

@font-face {
  font-family: 'HACKED';
  src: local('HACKED'), url('./fonts/HACKED.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
