---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
	a {
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 0.56em 2em;
		gap: 0.8em;
		color: var(--accent-regular);
		text-decoration: none;
		line-height: 1.1;
		border-radius: 999rem;
		overflow: hidden;
		background: transparent;
		border: 2px solid var(--accent-regular);
		box-shadow: 0 0 10px var(--accent-regular),
                    inset 0 0 10px var(--accent-regular);
		transition: all 0.3s ease;
	}

	@media (min-width: 20em) {
		a {
			font-size: var(--text-lg);
		}
	}

	/* Hover effect */
	a:hover {
		background: var(--accent-regular);
		color: #000000;
		box-shadow: 0 0 20px var(--accent-regular),
                    inset 0 0 20px var(--accent-regular);
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
	}

	@media (min-width: 50em) {
		a {
			padding: 1.125rem 2.5rem;
			font-size: var(--text-xl);
		}
	}
</style>
